################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSE-API/.vs
/SSE-API/SSE.Data/bin
/SSE-API/SSE.Data/obj
/SSE-API/SSE.Infrastructure/bin
/SSE-API/SSE.Infrastructure/obj
/SSE-API/SSE.Web/bin
/SSE-API/SSE.Web/obj
