################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSE-API/.vs/SSE-API
/SSE-API/SSE.Data/bin/Debug/net7.0
/SSE-API/SSE.Data/obj
/SSE-API/SSE.Infrastructure/bin/Debug/net7.0
/SSE-API/SSE.Infrastructure/obj
/SSE-API/SSE.Web/bin/Debug/net7.0
/SSE-API/SSE.Web/obj

/SSE-API/.vs/ProjectEvaluation
/SSE-API/SSE.Data/bin/Debug/netcoreapp3.1
/SSE-API/SSE.Infrastructure/bin/Debug/netcoreapp3.1
/SSE-API/SSE.Web/bin/Debug/netcoreapp3.1
