.title-div {
  font-weight: 500;
  width: 100%;
}

.right-spacer {
  margin-right: .5rem;
}

.left-spacer {
  margin-left: .5rem;
}


:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation:
    custom-progress-spinner-dash 1.5s ease-in-out infinite,
    custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
      stroke: #16697A;
  }
  40% {
      stroke: #16697A;
  }
  66% {
      stroke: #16697A;
  }
  80%,
  90% {
      stroke: #16697A;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }
  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
  }
  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
  }
}

.p-calendar-dropdown-format-helper {
  max-width: 15rem;
  min-width: 13rem;
}

.navbar {
  border-width: 0.15rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.25);
}

.container-fluid {
  padding: .5rem 1rem .5rem 1rem;
}

.navbar-brand {
  font-weight: 500;
  font-family:Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: rgb(121, 121, 121) !important;
}

.top-spacer {
  margin-top: 1rem;
}

.list-spinner-box {
  padding-top: 8px;
  padding-bottom: 0px;
}

.edit-spinner-box {
  padding-top: 4px;
  padding-bottom: 0px;
  margin-right: 1.5rem;
}

.vertical-separator {
  height: 45px;
}

.new-button {
  height: 42px;
  min-width: 5rem;
}

.nav-link-helper {
  color: rgba(105, 105, 105, 0.667);
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
}

.nav-link-helper :hover {
  color: rgb(50, 50, 50);
}

:host ::ng-deep {
  .p-field-radiobutton {
    padding-top: 0.5rem;
    padding-right: 0.5rem;

    label {
      padding-left: 0.5rem;
    }
  }

  .vertical-button-spacer {
    margin: 0 0.5rem 0.5rem 0;
  }
}
